
Site.ActiveRecords/bin/Debug/Site.ActiveRecords.dll
Site.ActiveRecords/bin/Debug/Site.ActiveRecords.pdb
Site.ActiveRecords/obj/Debug/Site.ActiveRecords.dll
Site.ActiveRecords/obj/Debug/Site.ActiveRecords.pdb
Site.DTO/bin/Debug/Site.DTO.dll
Site.DTO/bin/Debug/Site.DTO.pdb
Site.DTO/bin/Debug/Site.Enums.dll
Site.DTO/bin/Debug/Site.Enums.pdb
Site.DTO/obj/Debug/Site.DTO.csprojResolveAssemblyReference.cache
Site.DTO/obj/Debug/Site.DTO.dll
Site.DTO/obj/Debug/Site.DTO.pdb
Site.Entidade/bin/Debug/Site.ActiveRecords.dll
Site.Entidade/bin/Debug/Site.ActiveRecords.pdb
Site.Entidade/bin/Debug/Site.DTO.dll
Site.Entidade/bin/Debug/Site.DTO.pdb
Site.Entidade/bin/Debug/Site.Entidade.dll
Site.Entidade/bin/Debug/Site.Entidade.pdb
Site.Entidade/bin/Debug/Site.Enums.dll
Site.Entidade/bin/Debug/Site.Enums.pdb
Site.Entidade/obj/Debug/Site.Entidade.csprojResolveAssemblyReference.cache
Site.Entidade/obj/Debug/Site.Entidade.dll
Site.Entidade/obj/Debug/Site.Entidade.pdb
Site.Enums/bin/Debug/Site.Enums.dll
Site.Enums/bin/Debug/Site.Enums.pdb
Site.Enums/obj/Debug/Site.Enums.dll
Site.Enums/obj/Debug/Site.Enums.pdb
Site.IRepositorio/bin/Debug/CloudrailSI.dll
Site.IRepositorio/bin/Debug/Dapper.dll
Site.IRepositorio/bin/Debug/Dapper.pdb
Site.IRepositorio/bin/Debug/Dapper.xml
Site.IRepositorio/bin/Debug/Site.ActiveRecords.dll
Site.IRepositorio/bin/Debug/Site.ActiveRecords.pdb
Site.IRepositorio/bin/Debug/Site.DTO.dll
Site.IRepositorio/bin/Debug/Site.DTO.pdb
Site.IRepositorio/bin/Debug/Site.Entidade.dll
Site.IRepositorio/bin/Debug/Site.Entidade.pdb
Site.IRepositorio/bin/Debug/Site.Enums.dll
Site.IRepositorio/bin/Debug/Site.Enums.pdb
Site.IRepositorio/bin/Debug/Site.IRepositorio.dll
Site.IRepositorio/bin/Debug/Site.IRepositorio.dll.config
Site.IRepositorio/bin/Debug/Site.IRepositorio.pdb
Site.IRepositorio/obj/Debug/Site.IRepositorio.csproj.FileListAbsolute.txt
Site.IRepositorio/obj/Debug/Site.IRepositorio.csprojResolveAssemblyReference.cache
Site.IRepositorio/obj/Debug/Site.IRepositorio.dll
Site.IRepositorio/obj/Debug/Site.IRepositorio.pdb
Site.IServico/bin/Debug/CloudrailSI.dll
Site.IServico/bin/Debug/Site.ActiveRecords.dll
Site.IServico/bin/Debug/Site.ActiveRecords.pdb
Site.IServico/bin/Debug/Site.DTO.dll
Site.IServico/bin/Debug/Site.DTO.pdb
Site.IServico/bin/Debug/Site.Entidade.dll
Site.IServico/bin/Debug/Site.Entidade.pdb
Site.IServico/bin/Debug/Site.Enums.dll
Site.IServico/bin/Debug/Site.Enums.pdb
Site.IServico/bin/Debug/Site.IServico.dll
Site.IServico/bin/Debug/Site.IServico.dll.config
Site.IServico/bin/Debug/Site.IServico.pdb
Site.IServico/obj/Debug/Site.IServico.csproj.FileListAbsolute.txt
Site.IServico/obj/Debug/Site.IServico.csprojResolveAssemblyReference.cache
Site.IServico/obj/Debug/Site.IServico.dll
Site.IServico/obj/Debug/Site.IServico.pdb
Site.Transforms/bin/Debug/Site.Transforms.dll
Site.Transforms/bin/Debug/Site.Transforms.pdb
Site.Transforms/obj/Debug/Site.Transforms.csproj.FileListAbsolute.txt
Site.Transforms/obj/Debug/Site.Transforms.csprojResolveAssemblyReference.cache
Site.Transforms/obj/Debug/Site.Transforms.dll
Site.Transforms/obj/Debug/Site.Transforms.pdb
SimpleInjectorConsole/bin/Debug/SimpleInjectorConsole.exe
