
Site.ActiveRecords/bin/Debug/Site.ActiveRecords.dll
Site.ActiveRecords/bin/Debug/Site.ActiveRecords.pdb
Site.ActiveRecords/obj/Debug/Site.ActiveRecords.dll
Site.ActiveRecords/obj/Debug/Site.ActiveRecords.pdb
Site.DTO/bin/Debug/Site.DTO.dll
Site.DTO/bin/Debug/Site.DTO.pdb
Site.DTO/bin/Debug/Site.Enums.dll
Site.DTO/bin/Debug/Site.Enums.pdb
Site.DTO/obj/Debug/Site.DTO.csprojResolveAssemblyReference.cache
Site.DTO/obj/Debug/Site.DTO.dll
Site.DTO/obj/Debug/Site.DTO.pdb
Site.Entidade/bin/Debug/Site.ActiveRecords.dll
Site.Entidade/bin/Debug/Site.ActiveRecords.pdb
Site.Entidade/bin/Debug/Site.DTO.dll
Site.Entidade/bin/Debug/Site.DTO.pdb
Site.Entidade/bin/Debug/Site.Entidade.dll
Site.Entidade/bin/Debug/Site.Entidade.pdb
Site.Entidade/bin/Debug/Site.Enums.dll
Site.Entidade/bin/Debug/Site.Enums.pdb
Site.Entidade/obj/Debug/Site.Entidade.csprojResolveAssemblyReference.cache
Site.Entidade/obj/Debug/Site.Entidade.dll
Site.Entidade/obj/Debug/Site.Entidade.pdb
Site.Enums/bin/Debug/Site.Enums.dll
Site.Enums/bin/Debug/Site.Enums.pdb
Site.Enums/obj/Debug/Site.Enums.dll
Site.Enums/obj/Debug/Site.Enums.pdb
Site.IRepositorio/bin/Debug/CloudrailSI.dll
Site.IRepositorio/bin/Debug/Dapper.dll
Site.IRepositorio/bin/Debug/Dapper.pdb
Site.IRepositorio/bin/Debug/Dapper.xml
Site.IRepositorio/bin/Debug/Site.ActiveRecords.dll
Site.IRepositorio/bin/Debug/Site.ActiveRecords.pdb
Site.IRepositorio/bin/Debug/Site.DTO.dll
Site.IRepositorio/bin/Debug/Site.DTO.pdb
Site.IRepositorio/bin/Debug/Site.Entidade.dll
Site.IRepositorio/bin/Debug/Site.Entidade.pdb
Site.IRepositorio/bin/Debug/Site.Enums.dll
Site.IRepositorio/bin/Debug/Site.Enums.pdb
Site.IRepositorio/bin/Debug/Site.IRepositorio.dll
Site.IRepositorio/bin/Debug/Site.IRepositorio.dll.config
Site.IRepositorio/bin/Debug/Site.IRepositorio.pdb
Site.IRepositorio/obj/Debug/Site.IRepositorio.csproj.FileListAbsolute.txt
Site.IRepositorio/obj/Debug/Site.IRepositorio.csprojResolveAssemblyReference.cache
Site.IRepositorio/obj/Debug/Site.IRepositorio.dll
Site.IRepositorio/obj/Debug/Site.IRepositorio.pdb
Site.IServico/bin/Debug/CloudrailSI.dll
Site.IServico/bin/Debug/Site.ActiveRecords.dll
Site.IServico/bin/Debug/Site.ActiveRecords.pdb
Site.IServico/bin/Debug/Site.DTO.dll
Site.IServico/bin/Debug/Site.DTO.pdb
Site.IServico/bin/Debug/Site.Entidade.dll
Site.IServico/bin/Debug/Site.Entidade.pdb
Site.IServico/bin/Debug/Site.Enums.dll
Site.IServico/bin/Debug/Site.Enums.pdb
Site.IServico/bin/Debug/Site.IServico.dll
Site.IServico/bin/Debug/Site.IServico.dll.config
Site.IServico/bin/Debug/Site.IServico.pdb
Site.IServico/obj/Debug/Site.IServico.csproj.FileListAbsolute.txt
Site.IServico/obj/Debug/Site.IServico.csprojResolveAssemblyReference.cache
Site.IServico/obj/Debug/Site.IServico.dll
Site.IServico/obj/Debug/Site.IServico.pdb
Site.Transforms/bin/Debug/Site.Transforms.dll
Site.Transforms/bin/Debug/Site.Transforms.pdb
Site.Transforms/obj/Debug/Site.Transforms.csproj.FileListAbsolute.txt
Site.Transforms/obj/Debug/Site.Transforms.csprojResolveAssemblyReference.cache
Site.Transforms/obj/Debug/Site.Transforms.dll
Site.Transforms/obj/Debug/Site.Transforms.pdb
SimpleInjectorConsole/bin/Debug/SimpleInjectorConsole.exe
SimpleInjectorConsole/bin/Debug/SimpleInjectorConsole.exe
SimpleInjectorConsole/bin/Debug/SimpleInjectorConsole.pdb
SimpleInjectorConsole/bin/Debug/Site.ActiveRecords.dll
SimpleInjectorConsole/bin/Debug/Site.ActiveRecords.pdb
SimpleInjectorConsole/bin/Debug/Site.DTO.dll
SimpleInjectorConsole/bin/Debug/Site.DTO.pdb
SimpleInjectorConsole/bin/Debug/Site.Entidade.dll
SimpleInjectorConsole/bin/Debug/Site.Entidade.pdb
SimpleInjectorConsole/bin/Debug/Site.Enums.dll
SimpleInjectorConsole/bin/Debug/Site.Enums.pdb
SimpleInjectorConsole/bin/Debug/Site.IRepositorio.dll
SimpleInjectorConsole/bin/Debug/Site.IRepositorio.pdb
SimpleInjectorConsole/bin/Debug/Site.IServico.dll
SimpleInjectorConsole/bin/Debug/Site.IServico.pdb
SimpleInjectorConsole/bin/Debug/Site.Repositorio.dll
SimpleInjectorConsole/bin/Debug/Site.Repositorio.pdb
SimpleInjectorConsole/bin/Debug/Site.Servico.dll
SimpleInjectorConsole/bin/Debug/Site.Servico.pdb
SimpleInjectorConsole/obj/Debug/SimpleInjectorConsole.csprojResolveAssemblyReference.cache
SimpleInjectorConsole/obj/Debug/SimpleInjectorConsole.exe
SimpleInjectorConsole/obj/Debug/SimpleInjectorConsole.pdb
Site.ActiveRecords/bin/Debug/Site.ActiveRecords.dll
Site.ActiveRecords/bin/Debug/Site.ActiveRecords.pdb
Site.ActiveRecords/obj/Debug/Site.ActiveRecords.dll
Site.ActiveRecords/obj/Debug/Site.ActiveRecords.pdb
Site.DTO/bin/Debug/Site.DTO.dll
Site.DTO/bin/Debug/Site.DTO.pdb
Site.DTO/bin/Debug/Site.Enums.dll
Site.DTO/bin/Debug/Site.Enums.pdb
Site.DTO/obj/Debug/Site.DTO.csprojResolveAssemblyReference.cache
Site.DTO/obj/Debug/Site.DTO.dll
Site.DTO/obj/Debug/Site.DTO.pdb
Site.Entidade/bin/Debug/Site.ActiveRecords.dll
Site.Entidade/bin/Debug/Site.ActiveRecords.pdb
Site.Entidade/bin/Debug/Site.DTO.dll
Site.Entidade/bin/Debug/Site.DTO.pdb
Site.Entidade/bin/Debug/Site.Entidade.dll
Site.Entidade/bin/Debug/Site.Entidade.pdb
Site.Entidade/bin/Debug/Site.Enums.dll
Site.Entidade/bin/Debug/Site.Enums.pdb
Site.Entidade/obj/Debug/Site.Entidade.csprojResolveAssemblyReference.cache
Site.Entidade/obj/Debug/Site.Entidade.dll
Site.Entidade/obj/Debug/Site.Entidade.pdb
Site.Enums/bin/Debug/Site.Enums.dll
Site.Enums/bin/Debug/Site.Enums.pdb
Site.Enums/obj/Debug/Site.Enums.dll
Site.Enums/obj/Debug/Site.Enums.pdb
Site.IRepositorio/bin/Debug/Site.ActiveRecords.dll
Site.IRepositorio/bin/Debug/Site.ActiveRecords.pdb
Site.IRepositorio/bin/Debug/Site.DTO.dll
Site.IRepositorio/bin/Debug/Site.DTO.pdb
Site.IRepositorio/bin/Debug/Site.Entidade.dll
Site.IRepositorio/bin/Debug/Site.Entidade.pdb
Site.IRepositorio/bin/Debug/Site.Enums.dll
Site.IRepositorio/bin/Debug/Site.Enums.pdb
Site.IRepositorio/bin/Debug/Site.IRepositorio.dll
Site.IRepositorio/bin/Debug/Site.IRepositorio.pdb
Site.IRepositorio/obj/Debug/Site.IRepositorio.csprojResolveAssemblyReference.cache
Site.IRepositorio/obj/Debug/Site.IRepositorio.dll
Site.IRepositorio/obj/Debug/Site.IRepositorio.pdb
Site.IServico/bin/Debug/Site.ActiveRecords.dll
Site.IServico/bin/Debug/Site.ActiveRecords.pdb
Site.IServico/bin/Debug/Site.DTO.dll
Site.IServico/bin/Debug/Site.DTO.pdb
Site.IServico/bin/Debug/Site.Entidade.dll
Site.IServico/bin/Debug/Site.Entidade.pdb
Site.IServico/bin/Debug/Site.Enums.dll
Site.IServico/bin/Debug/Site.Enums.pdb
Site.IServico/bin/Debug/Site.IServico.dll
Site.IServico/bin/Debug/Site.IServico.pdb
Site.IServico/obj/Debug/Site.IServico.csprojResolveAssemblyReference.cache
Site.IServico/obj/Debug/Site.IServico.dll
Site.IServico/obj/Debug/Site.IServico.pdb
Site.Repositorio/bin/Debug/Site.ActiveRecords.dll
Site.Repositorio/bin/Debug/Site.ActiveRecords.pdb
Site.Repositorio/bin/Debug/Site.DTO.dll
Site.Repositorio/bin/Debug/Site.DTO.pdb
Site.Repositorio/bin/Debug/Site.Entidade.dll
Site.Repositorio/bin/Debug/Site.Entidade.pdb
Site.Repositorio/bin/Debug/Site.Enums.dll
Site.Repositorio/bin/Debug/Site.Enums.pdb
Site.Repositorio/bin/Debug/Site.IRepositorio.dll
Site.Repositorio/bin/Debug/Site.IRepositorio.pdb
Site.Repositorio/bin/Debug/Site.Repositorio.dll
Site.Repositorio/bin/Debug/Site.Repositorio.pdb
Site.Repositorio/obj/Debug/Site.Repositorio.csprojResolveAssemblyReference.cache
Site.Repositorio/obj/Debug/Site.Repositorio.dll
Site.Repositorio/obj/Debug/Site.Repositorio.pdb
Site.Servico/bin/Debug/Site.ActiveRecords.dll
Site.Servico/bin/Debug/Site.ActiveRecords.pdb
Site.Servico/bin/Debug/Site.DTO.dll
Site.Servico/bin/Debug/Site.DTO.pdb
Site.Servico/bin/Debug/Site.Entidade.dll
Site.Servico/bin/Debug/Site.Entidade.pdb
Site.Servico/bin/Debug/Site.Enums.dll
Site.Servico/bin/Debug/Site.Enums.pdb
Site.Servico/bin/Debug/Site.IRepositorio.dll
Site.Servico/bin/Debug/Site.IRepositorio.pdb
Site.Servico/bin/Debug/Site.IServico.dll
Site.Servico/bin/Debug/Site.IServico.pdb
Site.Servico/bin/Debug/Site.Repositorio.dll
Site.Servico/bin/Debug/Site.Repositorio.pdb
Site.Servico/bin/Debug/Site.Servico.dll
Site.Servico/bin/Debug/Site.Servico.pdb
Site.Servico/obj/Debug/Site.Servico.csprojResolveAssemblyReference.cache
Site.Servico/obj/Debug/Site.Servico.dll
Site.Servico/obj/Debug/Site.Servico.pdb
Site.Testes/bin/Debug/Site.ActiveRecords.dll
Site.Testes/bin/Debug/Site.ActiveRecords.pdb
Site.Testes/bin/Debug/Site.DTO.dll
Site.Testes/bin/Debug/Site.DTO.pdb
Site.Testes/bin/Debug/Site.Entidade.dll
Site.Testes/bin/Debug/Site.Entidade.pdb
Site.Testes/bin/Debug/Site.Enums.dll
Site.Testes/bin/Debug/Site.Enums.pdb
Site.Testes/bin/Debug/Site.IRepositorio.dll
Site.Testes/bin/Debug/Site.IRepositorio.pdb
Site.Testes/bin/Debug/Site.IServico.dll
Site.Testes/bin/Debug/Site.IServico.pdb
Site.Testes/bin/Debug/Site.Repositorio.dll
Site.Testes/bin/Debug/Site.Repositorio.pdb
Site.Testes/bin/Debug/Site.Servico.dll
Site.Testes/bin/Debug/Site.Servico.pdb
Site.Testes/bin/Debug/Site.Testes.dll
Site.Testes/bin/Debug/Site.Testes.pdb
Site.Testes/bin/Debug/Site.Transforms.dll
Site.Testes/bin/Debug/Site.Transforms.pdb
Site.Testes/bin/Debug/Site.WebApi.dll
Site.Testes/bin/Debug/Site.WebApi.pdb
Site.Testes/obj/Debug/Site.Testes.csprojResolveAssemblyReference.cache
Site.Testes/obj/Debug/Site.Testes.dll
Site.Testes/obj/Debug/Site.Testes.pdb
Site.Transforms/bin/Debug/Site.Transforms.dll
Site.Transforms/bin/Debug/Site.Transforms.pdb
Site.Transforms/obj/Debug/Site.Transforms.dll
Site.Transforms/obj/Debug/Site.Transforms.pdb
Site.WebApi/bin/Site.ActiveRecords.dll
Site.WebApi/bin/Site.ActiveRecords.pdb
Site.WebApi/bin/Site.DTO.dll
Site.WebApi/bin/Site.DTO.pdb
Site.WebApi/bin/Site.Entidade.dll
Site.WebApi/bin/Site.Entidade.pdb
Site.WebApi/bin/Site.Enums.dll
Site.WebApi/bin/Site.Enums.pdb
Site.WebApi/bin/Site.IRepositorio.dll
Site.WebApi/bin/Site.IRepositorio.pdb
Site.WebApi/bin/Site.IServico.dll
Site.WebApi/bin/Site.IServico.pdb
Site.WebApi/bin/Site.Repositorio.dll
Site.WebApi/bin/Site.Repositorio.pdb
Site.WebApi/bin/Site.Servico.dll
Site.WebApi/bin/Site.Servico.pdb
Site.WebApi/bin/Site.Transforms.dll
Site.WebApi/bin/Site.Transforms.pdb
Site.WebApi/bin/Site.WebApi.dll
Site.WebApi/bin/Site.WebApi.pdb
Site.WebApi/obj/Debug/Site.WebApi.csprojResolveAssemblyReference.cache
Site.WebApi/obj/Debug/Site.WebApi.dll
Site.WebApi/obj/Debug/Site.WebApi.pdb
SimpleInjectorConsole/bin/Debug/SimpleInjectorConsole.exe
SimpleInjectorConsole/bin/Debug/SimpleInjectorConsole.exe
SimpleInjectorConsole/bin/Debug/SimpleInjectorConsole.pdb
SimpleInjectorConsole/bin/Debug/Site.ActiveRecords.dll
SimpleInjectorConsole/bin/Debug/Site.ActiveRecords.pdb
SimpleInjectorConsole/bin/Debug/Site.DTO.dll
SimpleInjectorConsole/bin/Debug/Site.DTO.pdb
SimpleInjectorConsole/bin/Debug/Site.Entidade.dll
SimpleInjectorConsole/bin/Debug/Site.Entidade.pdb
SimpleInjectorConsole/bin/Debug/Site.Enums.dll
SimpleInjectorConsole/bin/Debug/Site.Enums.pdb
SimpleInjectorConsole/bin/Debug/Site.IRepositorio.dll
SimpleInjectorConsole/bin/Debug/Site.IRepositorio.pdb
SimpleInjectorConsole/bin/Debug/Site.IServico.dll
SimpleInjectorConsole/bin/Debug/Site.IServico.pdb
SimpleInjectorConsole/bin/Debug/Site.Repositorio.dll
SimpleInjectorConsole/bin/Debug/Site.Repositorio.pdb
SimpleInjectorConsole/bin/Debug/Site.Servico.dll
SimpleInjectorConsole/bin/Debug/Site.Servico.pdb
SimpleInjectorConsole/obj/Debug/SimpleInjectorConsole.csprojResolveAssemblyReference.cache
SimpleInjectorConsole/obj/Debug/SimpleInjectorConsole.exe
SimpleInjectorConsole/obj/Debug/SimpleInjectorConsole.pdb
Site.ActiveRecords/bin/Debug/Site.ActiveRecords.dll
Site.ActiveRecords/bin/Debug/Site.ActiveRecords.pdb
Site.ActiveRecords/obj/Debug/Site.ActiveRecords.dll
Site.ActiveRecords/obj/Debug/Site.ActiveRecords.pdb
Site.DTO/bin/Debug/Site.DTO.dll
Site.DTO/bin/Debug/Site.DTO.pdb
Site.DTO/bin/Debug/Site.Enums.dll
Site.DTO/bin/Debug/Site.Enums.pdb
Site.DTO/obj/Debug/Site.DTO.csprojResolveAssemblyReference.cache
Site.DTO/obj/Debug/Site.DTO.dll
Site.DTO/obj/Debug/Site.DTO.pdb
Site.Entidade/bin/Debug/Site.ActiveRecords.dll
Site.Entidade/bin/Debug/Site.ActiveRecords.pdb
Site.Entidade/bin/Debug/Site.DTO.dll
Site.Entidade/bin/Debug/Site.DTO.pdb
Site.Entidade/bin/Debug/Site.Entidade.dll
Site.Entidade/bin/Debug/Site.Entidade.pdb
Site.Entidade/bin/Debug/Site.Enums.dll
Site.Entidade/bin/Debug/Site.Enums.pdb
Site.Entidade/obj/Debug/Site.Entidade.csprojResolveAssemblyReference.cache
Site.Entidade/obj/Debug/Site.Entidade.dll
Site.Entidade/obj/Debug/Site.Entidade.pdb
Site.Enums/bin/Debug/Site.Enums.dll
Site.Enums/bin/Debug/Site.Enums.pdb
Site.Enums/obj/Debug/Site.Enums.dll
Site.Enums/obj/Debug/Site.Enums.pdb
Site.IRepositorio/bin/Debug/Site.ActiveRecords.dll
Site.IRepositorio/bin/Debug/Site.ActiveRecords.pdb
Site.IRepositorio/bin/Debug/Site.DTO.dll
Site.IRepositorio/bin/Debug/Site.DTO.pdb
Site.IRepositorio/bin/Debug/Site.Entidade.dll
Site.IRepositorio/bin/Debug/Site.Entidade.pdb
Site.IRepositorio/bin/Debug/Site.Enums.dll
Site.IRepositorio/bin/Debug/Site.Enums.pdb
Site.IRepositorio/bin/Debug/Site.IRepositorio.dll
Site.IRepositorio/bin/Debug/Site.IRepositorio.pdb
Site.IRepositorio/obj/Debug/Site.IRepositorio.csprojResolveAssemblyReference.cache
Site.IRepositorio/obj/Debug/Site.IRepositorio.dll
Site.IRepositorio/obj/Debug/Site.IRepositorio.pdb
Site.IServico/bin/Debug/Site.ActiveRecords.dll
Site.IServico/bin/Debug/Site.ActiveRecords.pdb
Site.IServico/bin/Debug/Site.DTO.dll
Site.IServico/bin/Debug/Site.DTO.pdb
Site.IServico/bin/Debug/Site.Entidade.dll
Site.IServico/bin/Debug/Site.Entidade.pdb
Site.IServico/bin/Debug/Site.Enums.dll
Site.IServico/bin/Debug/Site.Enums.pdb
Site.IServico/bin/Debug/Site.IServico.dll
Site.IServico/bin/Debug/Site.IServico.pdb
Site.IServico/obj/Debug/Site.IServico.csprojResolveAssemblyReference.cache
Site.IServico/obj/Debug/Site.IServico.dll
Site.IServico/obj/Debug/Site.IServico.pdb
Site.Repositorio/bin/Debug/Site.ActiveRecords.dll
Site.Repositorio/bin/Debug/Site.ActiveRecords.pdb
Site.Repositorio/bin/Debug/Site.DTO.dll
Site.Repositorio/bin/Debug/Site.DTO.pdb
Site.Repositorio/bin/Debug/Site.Entidade.dll
Site.Repositorio/bin/Debug/Site.Entidade.pdb
Site.Repositorio/bin/Debug/Site.Enums.dll
Site.Repositorio/bin/Debug/Site.Enums.pdb
Site.Repositorio/bin/Debug/Site.IRepositorio.dll
Site.Repositorio/bin/Debug/Site.IRepositorio.pdb
Site.Repositorio/bin/Debug/Site.Repositorio.dll
Site.Repositorio/bin/Debug/Site.Repositorio.pdb
Site.Repositorio/obj/Debug/Site.Repositorio.csprojResolveAssemblyReference.cache
Site.Repositorio/obj/Debug/Site.Repositorio.dll
Site.Repositorio/obj/Debug/Site.Repositorio.pdb
Site.Servico/bin/Debug/Site.ActiveRecords.dll
Site.Servico/bin/Debug/Site.ActiveRecords.pdb
Site.Servico/bin/Debug/Site.DTO.dll
Site.Servico/bin/Debug/Site.DTO.pdb
Site.Servico/bin/Debug/Site.Entidade.dll
Site.Servico/bin/Debug/Site.Entidade.pdb
Site.Servico/bin/Debug/Site.Enums.dll
Site.Servico/bin/Debug/Site.Enums.pdb
Site.Servico/bin/Debug/Site.IRepositorio.dll
Site.Servico/bin/Debug/Site.IRepositorio.pdb
Site.Servico/bin/Debug/Site.IServico.dll
Site.Servico/bin/Debug/Site.IServico.pdb
Site.Servico/bin/Debug/Site.Repositorio.dll
Site.Servico/bin/Debug/Site.Repositorio.pdb
Site.Servico/bin/Debug/Site.Servico.dll
Site.Servico/bin/Debug/Site.Servico.pdb
Site.Servico/obj/Debug/Site.Servico.csprojResolveAssemblyReference.cache
Site.Servico/obj/Debug/Site.Servico.dll
Site.Servico/obj/Debug/Site.Servico.pdb
Site.Testes/bin/Debug/Site.ActiveRecords.dll
Site.Testes/bin/Debug/Site.ActiveRecords.pdb
Site.Testes/bin/Debug/Site.DTO.dll
Site.Testes/bin/Debug/Site.DTO.pdb
Site.Testes/bin/Debug/Site.Entidade.dll
Site.Testes/bin/Debug/Site.Entidade.pdb
Site.Testes/bin/Debug/Site.Enums.dll
Site.Testes/bin/Debug/Site.Enums.pdb
Site.Testes/bin/Debug/Site.IRepositorio.dll
Site.Testes/bin/Debug/Site.IRepositorio.pdb
Site.Testes/bin/Debug/Site.IServico.dll
Site.Testes/bin/Debug/Site.IServico.pdb
Site.Testes/bin/Debug/Site.Repositorio.dll
Site.Testes/bin/Debug/Site.Repositorio.pdb
Site.Testes/bin/Debug/Site.Servico.dll
Site.Testes/bin/Debug/Site.Servico.pdb
Site.Testes/bin/Debug/Site.Testes.dll
Site.Testes/bin/Debug/Site.Testes.pdb
Site.Testes/bin/Debug/Site.Transforms.dll
Site.Testes/bin/Debug/Site.Transforms.pdb
Site.Testes/bin/Debug/Site.WebApi.dll
Site.Testes/bin/Debug/Site.WebApi.pdb
Site.Testes/obj/Debug/Site.Testes.csprojResolveAssemblyReference.cache
Site.Testes/obj/Debug/Site.Testes.dll
Site.Testes/obj/Debug/Site.Testes.pdb
Site.Transforms/bin/Debug/Site.Transforms.dll
Site.Transforms/bin/Debug/Site.Transforms.pdb
Site.Transforms/obj/Debug/Site.Transforms.dll
Site.Transforms/obj/Debug/Site.Transforms.pdb
Site.WebApi/bin/Site.ActiveRecords.dll
Site.WebApi/bin/Site.ActiveRecords.pdb
Site.WebApi/bin/Site.DTO.dll
Site.WebApi/bin/Site.DTO.pdb
Site.WebApi/bin/Site.Entidade.dll
Site.WebApi/bin/Site.Entidade.pdb
Site.WebApi/bin/Site.Enums.dll
Site.WebApi/bin/Site.Enums.pdb
Site.WebApi/bin/Site.IRepositorio.dll
Site.WebApi/bin/Site.IRepositorio.pdb
Site.WebApi/bin/Site.IServico.dll
Site.WebApi/bin/Site.IServico.pdb
Site.WebApi/bin/Site.Repositorio.dll
Site.WebApi/bin/Site.Repositorio.pdb
Site.WebApi/bin/Site.Servico.dll
Site.WebApi/bin/Site.Servico.pdb
Site.WebApi/bin/Site.Transforms.dll
Site.WebApi/bin/Site.Transforms.pdb
Site.WebApi/bin/Site.WebApi.dll
Site.WebApi/bin/Site.WebApi.pdb
Site.WebApi/obj/Debug/Site.WebApi.csprojResolveAssemblyReference.cache
Site.WebApi/obj/Debug/Site.WebApi.dll
Site.WebApi/obj/Debug/Site.WebApi.pdb
